html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: #f1f2f1;
}

nav {
    height: 70px;
    background-color: #2d2d2d;
    display: flex;
    padding: 0 1rem;
}

#company_name_navlinks_container {
    width: 55vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#company_name {
    color: #6DB2FE;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: #f1f2f1;
}

nav ul li a:hover {
    color: #6DB2FE;
}

#searchbox_container {
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
    position: relative;
}

#search_input {
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 8px;
    padding: 0 1rem;
}

#search_button {
    height: 40px;
    width: 100px;
    font-weight: 600;
    font-size: 14px;
	border: none;
	border-radius: 8px;
    background-color: #6DB2FE;
    cursor: pointer;
    color: #2d2d2d;
}

#clear_button {
    height: 40px;
    width: 100px;
    font-weight: 600;
    font-size: 14px;
	border: none;
	border-radius: 8px;
    background-color: #6DB2FE;
    cursor: pointer;
    color: #2d2d2d;
}

#search_results_container {
    position: absolute;
    top: 60px;
    left: 172px;
    width: 465px;
    min-height: 50px;
    max-height: calc(100vh - 150px);
    overflow: auto;
    background-color: #2d2d2da9;
    z-index: 1;
    border-radius: 8px;
    display: none;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.results_card_container {
    width: 100%;
    background-color: #2d2d2d;
    border-radius: 8px;
}

.results_card_image_container {
    width: 100%;
    height: 200px;
    margin-bottom: 0.5rem;
}

.results_card_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.results_card_title {
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.results_card_subtitle {
    font-size: 14px;
    line-height: 1.15rem;
    color: #d0d0d0;
    margin-bottom: 0.5rem;
}

main {
    margin: 0;
    padding: 1rem;
    height: calc(100vh - 102px);
    background-image: url(https://media.timeout.com/images/106073910/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#main_content_container {
    width: calc(100vw - 32px);
    height: 100%;
    padding: 0 1rem;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.9052871148459384) 0%, rgba(48,48,48,0.6811099439775911) 50%, rgba(255,255,255,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

#homepage_title {
    width: 350px;
    font-size: 72px;
    font-weight: bold;
    margin-left: 5rem;
}

#homepage_subtitle {
    width: 350px;
    margin-top: 2rem;
    line-height: 1.25rem;
    font-size: 14px;
    color: #d0d0d0;
    margin-left: 5rem;
}

#aboutpage_title {
    width: 350px;
    font-size: 72px;
    font-weight: bold;
    margin-left: 5rem;
    margin-bottom: 0;
}

#aboutpage_subtitle {
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    line-height: 1.25rem;
    font-size: 14px;
    font-weight: 400;
}

#team_section {
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
    gap: 2rem;
    margin-top: 3rem;
}

#team_title {
    width: 350px;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2rem;
    margin-top: 0;
}

#team_card {
    width: 200px;
    background-color: #2d2d2da9;
    padding: 1.5rem;
    border-radius: 1rem;
}

#team_card_title {
    margin: 0;
    font-size: 24px;
}

#team_card_position {
    width: 100%;
    background-color: #6DB2FE;
    color: #2d2d2d;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    margin-top: 1rem;
}

#contactpage_title {
    width: 500px;
    font-size: 72px;
    font-weight: bold;
    margin-left: 5rem;
    margin-bottom: 0;
    margin-top: 0;
}

#contact_form {
    margin-left: auto;
    margin-right: 5rem;
}

.contact_form_fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;

}

.contact_form_fields label {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.contact_form_fields input {
    height: 40px;
    width: 500px;
    border: none;
    border-radius: 8px;
    padding: 0 1rem;
    background-color: #a2a2a2b0;
}

#contact_message {
    height: 150px;
    width: 500px;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    background-color: #a2a2a2b0;
    font-family: Arial, Helvetica, sans-serif;
}

#form_submit_button {
    height: 40px;
    width: 532px;
    font-weight: 600;
    font-size: 14px;
	border: none;
	border-radius: 8px;
    background-color: #6DB2FE;
    cursor: pointer;
    color: #2d2d2d;
}